@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>The Store</h1>

<a href="#" class="btn btn-outline-success store-button--get-items">Hämta varor</a>

<div id="store-item-list">
    <span id="store-item-list--status" style="display: none">Hämtar varor .. </span>
</div>